{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<!-- Carousel -->
<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {# Print out the same number of list items as the number of slides #}
    {% for row in rows %}
      {# Add an active class to only the first indicator #}
      {% if loop.first == 1 %}
        {% set state = 'active' %}
      {% else %}
        {% set state = '' %}
      {% endif %}

      {# Print out the list item with the class. Adding in the data-slide-to-attribute gives the indicator it's functionality #}
      <li{{ row.attributes.addClass(state) }} data-target="#homepage-carousel" data-slide-to="{{loop.index0}}"></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner" role="listbox">
    {% for row in rows %}
      {# Add in active state #}
      {% if loop.index0 == 0 %}
        {% set state = 'active' %}
      {% else %}
        {% set state = '' %}
      {% endif %}

      <!-- Carousel Item -->
      <div class="item {{state}}">
        {{ row.content }}
      </div>
      <!-- / Carousel Item -->
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>