{% if page.mobile_nav %}
  <!-- Mobile Navigation -->
  <div id="sidr" style="display: none;">
    <div id="sidr__content">
      <div class="sidr__content-close">
        <a class="sidr__content-close-btn" href="#">
          <span aria-hidden="true" class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
      </div>

      <div class="sidr__content-menu">
        {{ page.mobile_nav }}
      </div>
    </div>
  </div>
  <!-- / Mobile Navigation -->
{% endif %}

<header class="header">
  <div class="header__top container">

    <div class="header__top-logo">
      <a href="{{ front_page }}">
        <img src="{{ base_path ~ directory }}/gfx/logo.png" alt="{% if site_name %}{{ site_name }}{% endif %}" />
      </a>
    </div>

    {% if page.mobile_nav %}
      <!-- Mobile Navigation Toggle -->
      <a class="header__top-mobile-toggle visible-xs-block" href="#" title="{{ 'Menu'|t }}"><span aria-hidden="true" class="glyphicon glyphicon-menu-hamburger"></span></a>
    {% endif %}

    {% if page.header_nav %}
      <!-- Header Navigation -->
      <nav class="header__top-navigation hidden-xs">
        {{ page.header_nav }}
      </nav>
      <!-- / Header Navigation -->
    {% endif %}
  </div>

  <div class="header__bottom">
    <div class="container">
      {% if page.primary_nav %}
        <!-- Main Navigation -->
        <nav class="header__bottom-navigation hidden-xs">
          {{ page.primary_nav }}
        </nav>
        <!-- / Main Navigation -->
      {% endif %}

      {% if page.site_search %}
        <!-- Site Search -->
        <div class="header__bottom-search">
          {{ page.site_search }}
        </div>
        <!-- / Site Search -->
      {% endif %}
    </div>
  </div>
</header>
