{#
/**
 * @file
 * Template to present user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile user-dashboard') }}>
  <h1 class="page-title">{{ 'Dashboard'|t }}</h1>

  <div class="user-dashboard__nav">
    {% if user.hasPermission('userprotect.account.edit') %}
      <a href="{{ base_path }}user/{{ user.id }}/edit" class="user-dashboard__nav-link user-dashboard__nav-link--account-details">
        <div class="user-dashboard__nav-link__title">{{ 'Account Details'|t }}</div>
        <div class="user-dashboard__nav-link__description">{{ 'Update password and other stuff'|t }}</div>
      </a>
    {% endif %}
  </div>

  {% if content %}
    {{ content }}
  {% endif %}

  {% if footer_message %}
    <div class="user-dashboard__footer-message">
      {{ footer_message }}
    </div>
  {% endif %}
</article>
